header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 15px 40px;
  border-bottom: 2px solid black;
}

.logo {
  font-size: 28px;
}

.navWrapper {
  display: flex;
  justify-content: space-between;
  width: 500px;
}