header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 15px 50px;
  border-bottom: 2px solid #D8C3A5;
  background-color: #EAE7DC;
}

.title {
  text-decoration: none;
  color: #000;
  font-size: 32px;
}

.logo {
  font-size: 28px;
}

.navWrapper {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.link {
  text-decoration: none;
  padding: 8px 15px;
  color: #8E8D8A;
  border-radius: 8px;
  background-color: #D8C3A5;
}